@page
@model RazorPizzeria.Pages.Checkout.CheckoutModel

@{
    var imagePath = "~/images/Pizzas/" + Model.pizza.ImageTitle + ".png";
}

<div class="text-center">
    <div class="mx-auto mb-5 col-3">
        <img src="@imagePath" class="w-100" asp-append-version="true"/>
        <p>Your order for the @Model.pizza.PizzaName Pizza is ready!</p>
        <p>Total price for your order is: @Model.pizza.FinalPrice$</p>
        <br />
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="/Checkout/ThankYou" onclick="@Model.OnPost()">Confirm Order</a>
    </div>
</div>